.employees-info{
    padding: 25px;
    color: white;
    border-radius: 4px;
    background-color: #3d5a80;
    box-shadow: 15px 15px 30px rgba(0,0,0, .15);
    margin-bottom: 20px;

    @media (max-width: 500px) {
        h1{
            font-size: 1.8rem;
        }
    
        h2{
            font-size: 1.5rem;
        }
    }
}